{% extends 'base.html.twig' %}

{% block title %}Creando Categorias{% endblock %}

{% block body %}

    {{ include('categorias/_form.html.twig') }}

    <a href="{{ path('categorias_index') }}">Regresar a lista</a>
{% endblock %}
